<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

<body>

<h1>Welcome to chatbox</h1>

<div id="chatbox">
    <p th:each="ChatMsg : ${chatMsgs}">
        <span id="chatboxID" th:text="${ChatMsg.userName}"></span>
        <span id="chatboxTimeStamp" th:text="${ChatMsg.time}"></span>
        <span id="chatboxContent" th:text="${ChatMsg.content}"></span>
    </p>
</div>

<div id="msgbox">
    <form action="index.html">
        <label for="msgboxcontent"></label>
        <input id="msgboxcontent" type="text" name="msgboxcontent">
        <input id="msgboxsend" type="submit" value="Submit">
    </form>
</div>


</body>
</html>
