<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/cupcakefavico32x32.png}">
    <link rel="icon" type="image/png" sizes="48x48" th:href="@{/images/cupcakefavico48x48.png}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>



<div class="page">
<!-- BEGINNING OF NAV BAR -->
<header>
    <div class="header-info">
        <ul>
            <li><a href="">extra info</a></li>
            <li><a href="">extra info</a></li>
            <li><a href="">extra info</a></li>
            <li><a href="">extra info</a></li>
        </ul>
    </div>
        <div class="nav">
            <div class="nav-left">
                <div class="nav-logo">
                    <a href="index.html">
                        <img src="../public/images/foglogo.png" th:src="@{/images/foglogo.png}" alt=""/>
                    </a>
                </div>
                <div class="nav-categories">
                    <ul>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 1</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>

                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 2</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 3</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 4</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Kategori 5</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                        <li class="nav-categories-element">
                            <a href="" class="dropdown-button">Carporte</a>
                            <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="nav-right">
                <div class="nav-search">
                    <form class="nav-search-form">
                        <button class="nav-search-button" type="submit" formaction="soegning">
                            <img src="../public/images/magnifyingglass64x64.png" th:src="@{/images/magnifyingglass64x64.png}"  alt=""/>
                        </button>
                        <label>
                            <input type="text" placeholder="Søg på produkter eller kategorier" name="searchString" id="searchString">
                        </label>
                        <!-- <button class="nav-search-cancel-button" type="button">luk</button> -->
                    </form>
                </div>
                <div class="nav-personal">
                    <ul>
                        <li><a href="">Fog Konto</a></li>
                        <li><a href="">Find Fog</a></li>
                        <li><a href="">Kurv</a></li>
                    </ul>
                </div>
            </div>

        </div>
</header>
<!-- END OF NAV BAR -->
    <div class="main">
    <div class="search-result">
        <h1 th:text="'Søgning: ' + ${searchString}"></h1>
        <form>
        </form>
        <form><!-- SORTER EFTER META DATA (POPULARITY; AGE; ETC) --></form>
        <div class="search-result-list">
            <a th:if="${productList != null && !productList.isEmpty()}"
               class="search-result-element"
               th:each="product,iterStat : ${productList}"
               th:href="'produkt/' + '?name=' + ${product.getName()} + '&id=' + ${product.getId()}">
              <img src="null"
                   th:src="'billeder?id=' + ${product.getImageIdsMini()[0]}"
                   alt="productimage">
              <p class="search-result-title"
                 th:text="${product.getName()}"></p>
              <p class="search-result-price"
                 th:text="'pris: ' + ${product.getPrice()}"></p>
            </a>
            <div th:if="${productList == null || productList.isEmpty()}">Ingen resultater :(</div>
        </div>
        <ul>
            <li><a href=""> left </a></li>
            <li><a href=""> right </a></li>
        </ul>
    </div>

    <div class="related-products">
        <h1>Relaterede produkter...</h1>
    </div>

    </div>

    <footer>
        this is a footer
    </footer>

</div>
</body>
</html>
