<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<a class="title-image" href="index.html" th:ref="@{/}" >
    <img src="../public/images/fourthingsplus.png" th:src="@{/images/fourthingsplus.png}" alt=""/>
</a>

<h1>Velkommen, <span th:text="${session.currentUser.name()}" ></span></h1>

<div class="addtaskbox">
    <form method="post">
        <label>
            <input class="formtextfield" type="text" name="taskname" placeholder="navn">
            <button class="buttonpositive" type="submit" formaction="addtask">Tilføj</button>
        </label>
    </form>
    <p class="messageoutput" th:if="${message != null}" th:text="${message}"> </p>
</div>

<div class="tasktablebox">
    <h2 th:if="${taskList != null}">Opgaver:</h2>
    <h2 th:if="${taskList.isEmpty()}">Ingen opgaver :)</h2>
<table class="tasktable" th:if="${!taskList.isEmpty()}">
    <thead>
    <tr>
        <th>
            Opgave
        </th>
        <th>
            Handlinger
        </th>
    </tr>

    <tr th:each="task : ${taskList}" >
        <td th:text="${task.title()}"> </td>
        <td>
            <div class="tasktableactions">
            <form class="tasktableactionsform"  name="taskdone" method="post">
                <input type="hidden" name="taskselected" value="" th:value="${task.taskId()}">
                <button class="tasktablebutton" type="submit" formaction="taskdone">
                    Udført
                </button>
            </form>
            <form  class="tasktableactionsform" name="taskedit" method="post">
                <input type="hidden" name="taskselected" value="" th:value="${task.taskId()}">
                <button class="tasktablebutton" type="submit" formaction="taskedit">
                    Rediger
                </button>
            </form>
            </div>
        </td>
    </tr>

    </thead>
</table>

<h2 th:if="${!taskListDone.isEmpty()}">Tidligere:</h2>

<table class="tasktable" th:if="${!taskListDone.isEmpty()}">
    <thead>
    <tr>
        <th>
            Opgave
        </th>
        <th>
            Handlinger
        </th>
    </tr>

    <tr th:each="task : ${taskListDone}" >
        <td th:text="${task.title()}"> </td>
        <td>
            <div class="tasktableactions">
            <form class="tasktableactionsform" name="taskundone" method="post">
                <input type="hidden" name="taskselected" value="" th:value="${task.taskId()}">
                <button class="tasktablebutton" type="submit" formaction="taskundone">
                    Fortryd
                </button>
            </form>
            <form class="tasktableactionsform" name="taskdelete" method="post">
                <input type="hidden" name="taskselected" value="" th:value="${task.taskId()}">
                <button class="tasktablebutton" type="submit" formaction="taskdelete">
                    Slet
                </button>
            </form>
            </div>
        </td>
    </tr>

    </thead>
</table>
</div>

<div class="logoutbox"  th:if="${session.currentUser != null}">
    <p >
    <a class="buttonnegative" href="index.html" th:href="@{/logout}">Log ud</a>
    </p>
</div>

</body>
</html>